<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>it.francescoface.alfred.phil</string>
	<key>category</key>
	<string>Development</string>
	<key>connections</key>
	<dict>
		<key>12E0784D-380F-4715-8A54-24D174CC587D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E45B149B-33F2-43EE-BB7B-D9B944693558</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1CC90CDD-E45A-41AC-8ECD-B9A76FF6896E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E45B149B-33F2-43EE-BB7B-D9B944693558</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>23D90ABE-BC0C-4846-9D1F-995DF5739C7F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E45B149B-33F2-43EE-BB7B-D9B944693558</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>28BA9EB4-93A1-461B-8E8F-8B264EBD2C79</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AD9C6ADA-151E-4CDE-B195-E9642E21CD16</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>28FDE0F3-A585-4DEC-B239-B0981E8D0BBF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>12F351F5-300F-4C58-A799-4D7B52F2C553</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>290107B9-9D2C-4342-8D8B-E179A729FB85</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5F27891F-3A2F-408F-8EA0-EDDD18DDDF9B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2EE68431-90A3-407C-BE8E-99E95C28CA1A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E45B149B-33F2-43EE-BB7B-D9B944693558</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3DC74588-2076-4258-9DD6-176048EB5EA1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>81627370-F2F8-49CA-B2D6-448F7B3FD08E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4F142973-9209-45B5-82C2-D968BADCEF25</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BFFA7B36-E266-4C10-AD06-F7E79357D3A9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5F27891F-3A2F-408F-8EA0-EDDD18DDDF9B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E45B149B-33F2-43EE-BB7B-D9B944693558</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>626FD291-638D-400F-89ED-01B65F2CB317</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>23D90ABE-BC0C-4846-9D1F-995DF5739C7F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>66A9834A-38B1-473A-ACFD-C4F5D5D1B3CA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3691E2AA-60B4-440F-9BDE-1CF7F98E3122</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string>Copy the filtered text to the clipboard</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D53342F9-E31A-4BCD-AFAF-D3DDDB50A36B</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Reuse this text to apply a new filter</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>81627370-F2F8-49CA-B2D6-448F7B3FD08E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E45B149B-33F2-43EE-BB7B-D9B944693558</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A31E246A-F805-42DE-8583-97A4B92EAA5B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>28FDE0F3-A585-4DEC-B239-B0981E8D0BBF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A6D5B8E3-C5B9-4459-A6A8-4F198723665B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2EE68431-90A3-407C-BE8E-99E95C28CA1A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A70905A8-F20C-4E3F-BC98-2482E1A30F52</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>06DED57C-8BAF-49B6-8574-13C567D48ECD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>8E991CC4-51B9-46DD-AC30-A7816521E68A</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>67FDE543-9F36-4FBD-962D-C35CF0B8B87B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AD9C6ADA-151E-4CDE-B195-E9642E21CD16</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E45B149B-33F2-43EE-BB7B-D9B944693558</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B0DDC591-8730-4CFF-93F4-97714A7B4B5C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E45B149B-33F2-43EE-BB7B-D9B944693558</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BFFA7B36-E266-4C10-AD06-F7E79357D3A9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E45B149B-33F2-43EE-BB7B-D9B944693558</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C3137137-2864-4704-960C-636ABC07BEF8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B0DDC591-8730-4CFF-93F4-97714A7B4B5C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DF5A88BE-9535-48E6-9136-21570CDA1537</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>12E0784D-380F-4715-8A54-24D174CC587D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E36ED369-6973-415A-B035-EA78972FE0D3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1CC90CDD-E45A-41AC-8ECD-B9A76FF6896E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E45B149B-33F2-43EE-BB7B-D9B944693558</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A70905A8-F20C-4E3F-BC98-2482E1A30F52</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Francesco Face</string>
	<key>description</key>
	<string>A text filter tool</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Phil</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>3691E2AA-60B4-440F-9BDE-1CF7F98E3122</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>ph</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Applying filters. Please wait...</string>
				<key>script</key>
				<string>node ./phil "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Type space and start writing a text to apply different filters</string>
				<key>title</key>
				<string>Apply filters to text</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>inboundconfig</key>
			<dict>
				<key>externalid</key>
				<string>phil</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>66A9834A-38B1-473A-ACFD-C4F5D5D1B3CA</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>phil</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>06DED57C-8BAF-49B6-8574-13C567D48ECD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>phil</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>D53342F9-E31A-4BCD-AFAF-D3DDDB50A36B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<true/>
				<key>acceptsurls</key>
				<false/>
				<key>name</key>
				<string>Spaced</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>DF5A88BE-9535-48E6-9136-21570CDA1537</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>operation</key>
					<string>space</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>12E0784D-380F-4715-8A54-24D174CC587D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:chainFlow}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>5</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>chain</string>
						<key>uid</key>
						<string>8E991CC4-51B9-46DD-AC30-A7816521E68A</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>copy text</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>A70905A8-F20C-4E3F-BC98-2482E1A30F52</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>67FDE543-9F36-4FBD-962D-C35CF0B8B87B</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<true/>
				<key>acceptsurls</key>
				<false/>
				<key>name</key>
				<string>UPPERCASE</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>C3137137-2864-4704-960C-636ABC07BEF8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>operation</key>
					<string>upper</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>B0DDC591-8730-4CFF-93F4-97714A7B4B5C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<true/>
				<key>acceptsurls</key>
				<false/>
				<key>name</key>
				<string>lowercase</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>28BA9EB4-93A1-461B-8E8F-8B264EBD2C79</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>operation</key>
					<string>lower</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>AD9C6ADA-151E-4CDE-B195-E9642E21CD16</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<true/>
				<key>acceptsurls</key>
				<false/>
				<key>name</key>
				<string>Title Case</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>E36ED369-6973-415A-B035-EA78972FE0D3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>operation</key>
					<string>title</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>1CC90CDD-E45A-41AC-8ECD-B9A76FF6896E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<true/>
				<key>acceptsurls</key>
				<false/>
				<key>name</key>
				<string>Sentence case</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>4F142973-9209-45B5-82C2-D968BADCEF25</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>operation</key>
					<string>sentence</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>BFFA7B36-E266-4C10-AD06-F7E79357D3A9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>phil -cc $operation</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E45B149B-33F2-43EE-BB7B-D9B944693558</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<true/>
				<key>acceptsurls</key>
				<false/>
				<key>name</key>
				<string>camelCase</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>A6D5B8E3-C5B9-4459-A6A8-4F198723665B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>operation</key>
					<string>camel</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>2EE68431-90A3-407C-BE8E-99E95C28CA1A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<true/>
				<key>acceptsurls</key>
				<false/>
				<key>name</key>
				<string>PascalCase</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>290107B9-9D2C-4342-8D8B-E179A729FB85</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>operation</key>
					<string>pascal</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>5F27891F-3A2F-408F-8EA0-EDDD18DDDF9B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<true/>
				<key>acceptsurls</key>
				<false/>
				<key>name</key>
				<string>snake_case</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>3DC74588-2076-4258-9DD6-176048EB5EA1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>operation</key>
					<string>snake</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>81627370-F2F8-49CA-B2D6-448F7B3FD08E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<true/>
				<key>acceptsurls</key>
				<false/>
				<key>name</key>
				<string>spinal-case</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>626FD291-638D-400F-89ED-01B65F2CB317</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>operation</key>
					<string>spinal</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>23D90ABE-BC0C-4846-9D1F-995DF5739C7F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>node /Users/francesco/francesco/sviluppo/progetti/manitext/mt.js "$1" -cc $2</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>28FDE0F3-A585-4DEC-B239-B0981E8D0BBF</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>12F351F5-300F-4C58-A799-4D7B52F2C553</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>fixedorder</key>
				<false/>
				<key>items</key>
				<string>[{"title":"Upper case","arg":"upper"},{"title":"Lower case","arg":"lower"}]</string>
				<key>keyword</key>
				<string>mtt</string>
				<key>matchmode</key>
				<integer>0</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Title</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>A31E246A-F805-42DE-8583-97A4B92EAA5B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>06DED57C-8BAF-49B6-8574-13C567D48ECD</key>
		<dict>
			<key>xpos</key>
			<real>760</real>
			<key>ypos</key>
			<real>110</real>
		</dict>
		<key>12E0784D-380F-4715-8A54-24D174CC587D</key>
		<dict>
			<key>xpos</key>
			<real>285</real>
			<key>ypos</key>
			<real>255</real>
		</dict>
		<key>12F351F5-300F-4C58-A799-4D7B52F2C553</key>
		<dict>
			<key>xpos</key>
			<real>555</real>
			<key>ypos</key>
			<real>1300</real>
		</dict>
		<key>1CC90CDD-E45A-41AC-8ECD-B9A76FF6896E</key>
		<dict>
			<key>xpos</key>
			<real>285</real>
			<key>ypos</key>
			<real>605</real>
		</dict>
		<key>23D90ABE-BC0C-4846-9D1F-995DF5739C7F</key>
		<dict>
			<key>xpos</key>
			<real>285</real>
			<key>ypos</key>
			<real>1180</real>
		</dict>
		<key>28BA9EB4-93A1-461B-8E8F-8B264EBD2C79</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>460</real>
		</dict>
		<key>28FDE0F3-A585-4DEC-B239-B0981E8D0BBF</key>
		<dict>
			<key>xpos</key>
			<real>325</real>
			<key>ypos</key>
			<real>1300</real>
		</dict>
		<key>290107B9-9D2C-4342-8D8B-E179A729FB85</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>920</real>
		</dict>
		<key>2EE68431-90A3-407C-BE8E-99E95C28CA1A</key>
		<dict>
			<key>xpos</key>
			<real>285</real>
			<key>ypos</key>
			<real>835</real>
		</dict>
		<key>3691E2AA-60B4-440F-9BDE-1CF7F98E3122</key>
		<dict>
			<key>xpos</key>
			<real>400</real>
			<key>ypos</key>
			<real>45</real>
		</dict>
		<key>3DC74588-2076-4258-9DD6-176048EB5EA1</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>1035</real>
		</dict>
		<key>4F142973-9209-45B5-82C2-D968BADCEF25</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>690</real>
		</dict>
		<key>5F27891F-3A2F-408F-8EA0-EDDD18DDDF9B</key>
		<dict>
			<key>xpos</key>
			<real>285</real>
			<key>ypos</key>
			<real>950</real>
		</dict>
		<key>626FD291-638D-400F-89ED-01B65F2CB317</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>1150</real>
		</dict>
		<key>66A9834A-38B1-473A-ACFD-C4F5D5D1B3CA</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>65</real>
		</dict>
		<key>67FDE543-9F36-4FBD-962D-C35CF0B8B87B</key>
		<dict>
			<key>xpos</key>
			<real>730</real>
			<key>ypos</key>
			<real>305</real>
		</dict>
		<key>81627370-F2F8-49CA-B2D6-448F7B3FD08E</key>
		<dict>
			<key>xpos</key>
			<real>285</real>
			<key>ypos</key>
			<real>1065</real>
		</dict>
		<key>A31E246A-F805-42DE-8583-97A4B92EAA5B</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>1300</real>
		</dict>
		<key>A6D5B8E3-C5B9-4459-A6A8-4F198723665B</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>805</real>
		</dict>
		<key>A70905A8-F20C-4E3F-BC98-2482E1A30F52</key>
		<dict>
			<key>xpos</key>
			<real>440</real>
			<key>ypos</key>
			<real>295</real>
		</dict>
		<key>AD9C6ADA-151E-4CDE-B195-E9642E21CD16</key>
		<dict>
			<key>xpos</key>
			<real>285</real>
			<key>ypos</key>
			<real>490</real>
		</dict>
		<key>B0DDC591-8730-4CFF-93F4-97714A7B4B5C</key>
		<dict>
			<key>xpos</key>
			<real>285</real>
			<key>ypos</key>
			<real>375</real>
		</dict>
		<key>BFFA7B36-E266-4C10-AD06-F7E79357D3A9</key>
		<dict>
			<key>xpos</key>
			<real>285</real>
			<key>ypos</key>
			<real>720</real>
		</dict>
		<key>C3137137-2864-4704-960C-636ABC07BEF8</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>345</real>
		</dict>
		<key>D53342F9-E31A-4BCD-AFAF-D3DDDB50A36B</key>
		<dict>
			<key>xpos</key>
			<real>400</real>
			<key>ypos</key>
			<real>160</real>
		</dict>
		<key>DF5A88BE-9535-48E6-9136-21570CDA1537</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>225</real>
		</dict>
		<key>E36ED369-6973-415A-B035-EA78972FE0D3</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>575</real>
		</dict>
		<key>E45B149B-33F2-43EE-BB7B-D9B944693558</key>
		<dict>
			<key>xpos</key>
			<real>495</real>
			<key>ypos</key>
			<real>725</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
